[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "qvcalc"]
	path = qvcalc
	url = https://github.com/davidfirth/qvcalc
[submodule "relimp"]
	path = relimp
	url = https://github.com/cran/relimp
