[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "qvcalc"]
	path = qvcalc
	url = https://github.com/davidfirth/qvcalc
	shallow = true
	registered = true
